body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

.main-header {
	padding-top: 50px;
}

.main-header + .doc {
	margin-top: -70px;
}

.main-header__block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-header__wrap {
	margin-right: auto;
}

.main-header__list {
	display: flex;
	align-items: center;
}

.main-header__list li:not(:last-child) {
	margin-right: 40px;
}

.main-header__link {
	display: block;
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	transition: 0.3s color;
}

.main-header__link:hover:not(.main-header__link--active) {
	color: #f0625a;
}

.main-header__description {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 15px;
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #fff;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	left: 0;
	transition: 0.5s;
}

.line-burger:after {
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	color: #333333;
	background-color: #fff;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto";
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	display: none;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.container--inner {
	max-width: 1920px;
	margin: 0 auto;
}

.container--about {
	max-width: 630px;
}

.container--contacts {
	max-width: 840px;
}

.block {
	background-color: #000;
	position: relative;
}

.block:after {
	position: absolute;
	content: ' ';
	z-index: 2;
	bottom: -4px;
	left: -1px;
	right: -1px;
	width: calc(100% + 2px);
	height: 216px;
	background-image: url(../img/bg-top.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.block--main {
	z-index: 2;
	background-image: linear-gradient(246.65deg, rgba(155, 213, 195, 0.7) -1.32%, rgba(121, 175, 212, 0.7) 102.69%);
}

.block + section {
	margin-top: -125px;
}

.block--doc {
	padding-bottom: 330px;
}

.block--single + .doc {
	margin-top: -260px;
}

.title {
	font-size: 96px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 80px;
	font-weight: 100;
}

.input {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #333;
	border: 2px solid #e6e6e6;
	border-radius: 5px;
	outline: none;
	text-transform: uppercase;
	padding: 17px 20px;
}

.input::placeholder {
	color: #333333;
}

.input:focus::placeholder {
	color: transparent;
}

.input--area {
	min-height: 200px;
	resize: none;
}

.btn {
	display: block;
	width: max-content;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 17px 32px;
	text-align: center;
	font-weight: 700;
	transition: 0.2s background, 0.2s color;
	font-family: "Roboto";
	font-weight: 700;
}

.btn--inner {
	background-color: #000;
	color: #fff;
}

.btn--elem,
.btn--contacts {
	max-width: 185px;
	width: 100%;
	background-color: #859bf3;
	color: #fff;
	margin: 0 auto;
}

.btn--elem:hover {
	background-color: #000;
}

.btn--contacts:hover {
	background-color: #fff;
	color: #000;
}

.btn--header:hover {
	background: #859bf3;
	color: #fff;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 52px;
}

.breadcrumbs__list li {
	display: block;
	cursor: default;
	margin-bottom: 15px;
}

.breadcrumbs__list li:not(:last-child) {
	margin-right: 40px;
	transition: 0.3s color;
	position: relative;
}

.breadcrumbs__list li:not(:last-child):after {
	position: relative;
	right: -20px;
	line-height: 1;
	content: '/';
	color: #858585;
}

.breadcrumbs__list li,
.breadcrumbs__list a {
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	transition: 0.25s color;
}

.breadcrumbs__list a:hover {
	color: #f0625a;
}

.about {
	padding-bottom: 442px;
	margin-top: 145px;
}

.about__wrap {
	position: relative;
	z-index: 2;
}

.about__title {
	font-size: 128px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 100;
}

.about__subtitle {
	font-size: 40px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 100px;
	font-weight: 100;
}

.about__text {
	margin-bottom: 90px;
}

.about__text p {
	font-size: 20px;
	line-height: 1.5;
	color: #fff;
	text-align: center;
}

.about__btn {
	cursor: pointer;
	display: block;
	width: 70px;
	height: 70px;
	background-color: transparent;
	background-image: url(../img/icons/details.svg);
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #fff;
	border-radius: 35px;
	outline: none;
	margin: 0 auto;
}

.info {
	position: relative;
	z-index: 2;
	margin-bottom: 140px;
}

.info__wrap {
	position: relative;
}

.info__item--text {
	width: 588px;
}

.info__item--image {
	max-width: 685px;
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

.info__subtitle {
	font-size: 96px;
	line-height: 1.46;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: 700;
}

.info__text {
	margin-bottom: 82px;
}

.info__text p {
	font-size: 20px;
	line-height: 1.5;
	color: #000000;
}

.services {
	position: relative;
	z-index: 2;
	padding-bottom: 105px;
}

.services__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.services__item {
	width: calc(100% / 3 - 40px);
	background: linear-gradient(209.1deg, #78aed4 0%, #9bd5c2 100%);
	padding: 80px 25px;
	padding-bottom: 40px;
	margin: 0 20px;
	margin-bottom: 45px;
}

.services__item:hover .btn {
	background: #fff;
	color: #000;
}

.services__image {
	margin-bottom: 54px;
}

.services__image img {
	display: block;
	margin: 0 auto;
}

.services__subtitle {
	font-size: 24px;
	line-height: 1.25;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.services__text {
	margin-bottom: 32px;
}

.services__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
}

.desc {
	margin-bottom: 140px;
}

.desc .title {
	font-size: 64px;
}

.desc__text {
	margin-top: 35px;
	padding-bottom: 88px;
}

.desc__text p {
	font-size: 18px;
	line-height: 1.6;
	color: #8A8A8A;
}

.desc__text p:not(:last-child) {
	padding-bottom: 2em;
}

.doc {
	position: relative;
	z-index: 2;
	margin-bottom: 62px;
}

.doc + .services {
	margin-top: -50px;
	padding-bottom: 10px;
}

.doc__wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 50px;
	margin: 0 -20px;
}

.doc__item {
	width: calc(100% / 3 - 40px);
	background: linear-gradient(209.1deg, #868BD6 0%, #9ACAFA 100%);
	padding: 36px 25px;
	padding-bottom: 46px;
	margin: 0 20px;
	margin-bottom: 68px;
}

.doc__item:hover .btn {
	background: #fff;
	color: #000;
}

.doc__subtitle {
	font-size: 18px;
	line-height: 1.67;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.doc__text {
	margin-bottom: 32px;
}

.doc__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #000;
}

.contacts {
	background-color: #000000;
	position: relative;
	padding-top: 410px;
	padding-bottom: 65px;
}

.contacts:after {
	position: absolute;
	content: ' ';
	z-index: 2;
	top: -4px;
	left: -1px;
	right: -1px;
	width: calc(100% + 2px);
	height: 216px;
	background-image: url(../img/bg-contacts.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contacts .btn {
	margin-top: 64px;
}

.contacts .title {
	color: #fff;
}

.contacts__wrap {
	display: flex;
	flex-wrap: wrap;
}

.contacts__item {
	width: 100%;
	margin-bottom: 28px;
}

.contacts__box {
	margin-top: 130px;
}

.contacts__row {
	display: flex;
	align-items: center;
	padding-bottom: 26px;
}

.contacts__phone,
.contacts__email {
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 36px;
	line-height: 1.2;
	color: #fff;
	padding-left: 44px;
	margin-bottom: 20px;
	font-weight: 100;
}

.contacts__phone {
	background-image: url(../img/icons/phone.svg);
	margin-right: 30px;
}

.contacts__email {
	background-image: url(../img/icons/email.svg);
}

.contacts__address {
	font-size: 24px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	margin-bottom: 58px;
}

.contacts__schedule p {
	font-size: 24px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	font-weight: 200;
}

.contacts__error {
	color: #ff0000;
	letter-spacing: 0.04em;
	padding-bottom: 20px;
	font-weight: 700;
}

.single {
	padding-bottom: 345px;
	margin-top: 80px;
	margin-bottom: 135px;
}

.single .title {
	font-size: 48px;
	color: #fff;
	padding-bottom: 75px;
}

.single__bg {
	margin-bottom: 52px;
}

.single__bg img {
	display: block;
	width: 100%;
}

.single__text {
	font-size: 16px;
	line-height: 1.88;
	color: #fff;
}

.single__text p:not(:last-child) {
	padding-bottom: 2em;
}

.single__text h1 {
	font-size: 24px;
}

.single__text h2 {
	font-size: 22px;
}

.single__text h3 {
	font-size: 18px;
}

.single__text h4,
.single__text h5,
.single__text h6 {
	font-size: 16px;
	line-height: 1.29;
}

.single__text h1,
.single__text h2,
.single__text h3,
.single__text h4,
.single__text h5,
.single__text h6 {
	padding-bottom: 15px;
	font-weight: 500;
}

.single__text ul,
.single__text ol {
	padding: 0px;
	margin: 0px;
	padding-bottom: 1.5em;
}

.single__text ul li,
.single__text ol li {
	position: relative;
	line-height: 1.25;
	margin-bottom: 6px;
	font-weight: normal;
}

.single__text ol li {
	list-style-position: inside;
}

.single__text a {
	display: inline-block;
	margin-bottom: 12px;
}

.footer {
	background-color: #000;
	padding-bottom: 90px;
}

.footer__logo {
	max-width: 176px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.footer__logo img {
	display: block;
}

.footer__text {
	margin-bottom: 50px;
}

.footer__text p {
	font-size: 14px;
	line-height: 2.14;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.footer__elem {
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
}

@media screen and (max-width: 1199px) {

.info {
	margin-bottom: 100px;
}

.info__item--text {
	width: 100%;
}

.info__item--image {
	position: static;
	margin: 0 auto;
}

.info__subtitle br {
	display: none;
}

.contacts__row {
	flex-wrap: wrap;
	justify-content: center;
}

}

@media screen and (max-width: 1150px) {

.main-header__link {
	font-size: 17px;
}

}

@media screen and (max-width: 1022px) {

.main-header__list li:not(:last-child) {
	margin-right: 28px;
}

.main-header__link {
	font-size: 16px;
}

.block:after {
	height: 130px;
}

.block + section {
	margin-top: -80px;
}

.block--doc {
	padding-bottom: 230px;
}

.block--single + .doc {
	margin-top: -140px;
}

.title {
	font-size: 38px;
	padding-bottom: 60px;
}

.about {
	padding-bottom: 300px;
	margin-top: 110px;
}

.about__subtitle {
	font-size: 30px;
	margin-bottom: 80px;
}

.about__text {
	margin-bottom: 75px;
}

.info {
	margin-bottom: 80px;
}

.info__subtitle {
	font-size: 90px;
}

.services {
	padding-bottom: 30px;
}

.services__wrap {
	margin: 0px;
}

.services__item {
	width: 100%;
	max-width: 550px;
	padding: 40px 20px;
	margin: 0px auto;
	margin-bottom: 45px;
}

.desc {
	margin-bottom: 60px;
}

.desc .title {
	font-size: 42px;
}

.desc__text {
	margin-top: 15px;
}

.doc {
	margin-bottom: 40px;
}

.doc__wrap {
	padding-top: 0px;
	padding-bottom: 20px;
	margin: 0px;
}

.doc__item {
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.contacts {
	padding-top: 230px;
}

.contacts:after {
	height: 130px;
}

.contacts__box {
	margin-top: 90px;
}

.contacts__phone,
.contacts__email {
	font-size: 30px;
}

.contacts__schedule p {
	font-size: 16px;
}

.single {
	padding-bottom: 220px;
	margin-bottom: 70px;
}

}

@media screen and (max-width: 960px) {

.main-header__block {
	justify-content: space-between;
}

.main-header__wrap {
	margin-right: 30px;
}

.main-header__list {
	display: none;
	width: calc(100% + 40px);
	top: 100%;
	left: -20px;
	right: 0px;
	z-index: 3;
	position: absolute;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	padding-bottom: 10px;
	background-color: #000;
}

.main-header__link {
	padding: 8px 20px;
}

.mobile-wrap {
	display: flex;
	width: 100%;
	padding: 7px 0px;
	padding-bottom: 8px;
}

.main-nav__toggle {
	display: block;
}

.block--main .main-header__list {
	background-color: #68908B;
}

}

@media screen and (max-width: 767px) {

.block:after {
	height: 90px;
}

.block--doc {
	padding-bottom: 190px;
}

.block--single + .doc {
	margin-top: -110px;
}

.title {
	font-size: 30px;
	padding-bottom: 36px;
}

.breadcrumbs__list {
	padding-bottom: 36px;
}

.about {
	padding-bottom: 240px;
	margin-top: 90px;
}

.about__title {
	font-size: 100px;
}

.about__subtitle {
	margin-bottom: 60px;
}

.about__text {
	margin-bottom: 60px;
}

.info {
	margin-bottom: 50px;
}

.info__subtitle {
	font-size: 68px;
}

.desc .title {
	font-size: 34px;
}

.contacts {
	padding-top: 150px;
}

.contacts:after {
	height: 90px;
}

.contacts__phone,
.contacts__email {
	font-size: 22px;
}

.contacts__address {
	font-size: 22px;
}

.single {
	padding-bottom: 145px;
}

.single .title {
	font-size: 38px;
	padding-bottom: 36px;
}

.single .title {
	font-size: 30px;
}

}

@media screen and (max-width: 560px) {

.info__subtitle {
	font-size: 48px;
}

}

@media screen and (max-width: 400px) {

.info__subtitle {
	font-size: 36px;
}

}

